.lista-propia{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}
.bg-color-propio{
    background-color: #00182E;
}
.enlace-propio{
    text-decoration: none;
    color: whitesmoke;
}
.enlace-propio:hover{
    color: rgb(205, 218, 247);
    font-size: 110%;
}
.bg-main-propio{
    background-color: whitesmoke;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
footer{
    width: 100%;
}
.p-main{
    max-height: 100%;
    padding: 0 1% 0 10%;
}
.aside-propia{
    right: 0;
    height: 100%;
}
.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:20%;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
.whatsapp-icon {
    margin-top:13px;
}
