<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BOOTSTRAP -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <!-- CSS PROPIO -->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- WPP ICON -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- FAVICON --> 
    <link rel="shortcut icon" href="../assets/icons/faviconf.ico" type="image/x-icon">
    <link rel="icon" href="../assets/icons/faviconf.ico" type="image/x-icon">
    <title>Areas de Practica | Estudio Juridico</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-color-propio">
            <div class="container-fluid bg-color-propio">
              <a class="navbar-brand" href="../index.html"><img src="../assets/icons/logo3.png" alt="logo" width="120"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse ms-5" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="nosotros.html">NOSOTROS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="areas.html">AREAS DE PRACTICA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacto.html">CONTACTO</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <main> <!-- CONTENIDO SOLO DE RELLENO -->
       <section id="section-areas">
            <article>
                <div class="area-abogados"> <!-- EN ESTE DIV SE DESCRIBE LAS PRINCIPALES AREAS DEL ABOGADO 1 -->
                    <img class="foto-abogado" src="../assets/logo.png" alt=""> <!-- FOTO DEL ABOGADO -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis molestiae reprehenderit suscipit, tempora error ipsam mollitia quo voluptate accusamus ipsa molestias fugit. Et repellat quos consequuntur a voluptate ex aliquam!
                    Excepturi, suscipit dignissimos neque sapiente eos iste porro harum. Enim facere illum totam labore atque aperiam voluptatem tempora aliquam, voluptates dolor mollitia dolorem vitae veniam aspernatur similique provident accusantium quia!</p>
                </div>
                <div class="area-ilustrativa"> <!-- FILA DE IMAGENES ILUSTRATIVAS DE LAS AREAS, CANTIDAD DE IMG DEPENDIENDO DE LAS AREAS QUE MANEJA CADA ABOGADO -->
                    <img src="../assets/logo.png"> <!-- IMG SOLO DE REFERENCIA -->
                    <img src="../assets/logo.png" alt="">
                    <img src="../assets/logo.png" alt="">
                    <img src="../assets/logo.png" alt="">
                </div>
            </article>
                <div class="area-abogados"> <!-- EN ESTE DIV SE DESCRIBE LAS PRINCIPALES AREAS DEL ABOGADO 1 -->
                    <img class="foto-abogado" src="../assets/logo.png" alt=""> <!-- FOTO DEL ABOGADO -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis molestiae reprehenderit suscipit, tempora error ipsam mollitia quo voluptate accusamus ipsa molestias fugit. Et repellat quos consequuntur a voluptate ex aliquam!
                    Excepturi, suscipit dignissimos neque sapiente eos iste porro harum. Enim facere illum totam labore atque aperiam voluptatem tempora aliquam, voluptates dolor mollitia dolorem vitae veniam aspernatur similique provident accusantium quia!</p>
                </div>
                <div class="area-ilustrativa"> <!-- FILA DE IMAGENES ILUSTRATIVAS DE LAS AREAS, CANTIDAD DE IMG DEPENDIENDO DE LAS AREAS QUE MANEJA CADA ABOGADO -->
                    <img src="../assets/logo.png" alt=""> <!-- IMG SOLO DE REFERENCIA -->
                    <img src="../assets/logo.png" alt="">
                    <img src="../assets/logo.png" alt="">
                    <img src="../assets/logo.png" alt="">
                </div>
            <article id="areas">
                <h1 class="titulo-areas">TODAS NUESTRAS AREAS DE PRACTICA</h1>
                <divd class="areas-fila">
                    <img src="../assets/logo.png" alt="">
                    <img src="../assets/logo.png" alt="">
                    <img src="../assets/logo.png" alt="">
                </divd>
                <div class="areas-fila">
                    <img src="../assets/logo.png" alt="">
                    <img src="../assets/logo.png" alt="">
                    <img src="../assets/logo.png" alt="">
                </div>
            </article>
       </section>
       <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
    </main>
    <footer class="bg-color-propio py-3 px-3 mt-auto">
        <div class="justify-content-between d-flex flex-wrap align-items-center">
            <div>
            <ul class="lista-propia">
                <li>Dirreccion</li>
                <li>Numero de contacto 1</li>
                <li>Numero de contacto 2</li>
                <li>Email</li>
            </ul>
            </div>
            <div class="mt-2">  
                <a class="enlace-propio" href="../index.html">INICIO |</a>
                <a class="enlace-propio" href="nosotros.html">NOSOTROS |</a>
                <a class="enlace-propio" href="areas.html">AREAS DE PRACTICA |</a>
                <a class="enlace-propio" href="contacto.html">CONTACTO</a>
            </div>
            <div class="mt-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-map-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.502.502 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5V.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.498.498 0 0 0-.196 0L5 14.09zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1-.5-.1z"/>
                  </svg>
            </div>
        </div>
    </footer>
    <script src="../js/bootstrap.js"></script>
</body>
</html>