<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS BOOTSTRAP -->
  <link rel="stylesheet" href="../css/bootstrap.css">
  <!-- CSS PROPIO -->
  <link rel="stylesheet" href="../css/estilos.css">
  <!-- WPP ICON -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- FAVICON --> 
  <link rel="shortcut icon" href="../assets/icons/faviconf.ico" type="image/x-icon">
  <link rel="icon" href="../assets/icons/faviconf.ico" type="image/x-icon">
  <title>Contacto | Estudio Juridico</title>
</head>
<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-color-propio">
      <div class="container-fluid bg-color-propio">
        <a class="navbar-brand" href="../index.html"><img src="../assets/icons/logo3.png" alt="logo" width="120"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-5" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="nosotros.html">NOSOTROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="areas.html">AREAS DE PRACTICA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="contacto.html">CONTACTO</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
      <section class="container-fluid">
        <div class="row row-cols-1 row-cols-md-2 mt-5">
          <div class="col col-lg-12 col-md-10">
            <h1 class="text-center">CONTACTANOS!</h1>
            <h2 class="text-center">COMPLETE CON SU INFORMACION</h2>
          </div>
          <form action="rutaalarchivo" class="row col col-lg-12 col-md-10 md-10 g-3 mb-5">
            <div class="col-md-6">
              <label for="nombre" class="form-label"></label>
              <input type="text" id="nombre" class="form-control border-mio" placeholder="NOMBRE COMPLETO" required>
            </div>
            <div class="col-md-6">
              <label for="apellido" class="form-label"></label>
              <input type="text" id="apellido" class="form-control border-mio" placeholder="APELLIDO" required>
            </div>
            <div class="col-md-8">
              <label for="email" class="form-label"></label>
              <input type="email" placeholder="CORREO ELECTRONICO" id="email" class="form-control border-mio" required>
            </div>
            <div class="col-md-4">
              <label for="telefono" class="form-label"></label>
              <input type="tel" placeholder="NUMERO TELEFONICO" id="telefono" class="form-control border-mio" required>
            </div>
            <div class="col-md-12">
              <label for="comentarios" class="form-label"></label>
              <textarea class="form-control" name="" id="comentarios" placeholder="COMENTENOS SU CASO.." rows="5"></textarea>
            </div>
            <div class="d-grid gap-2 col-md-6">
              <button type="submit" class="btn btn-success">Enviar consulta</button>
            </div>
            <div class="d-grid gap-2 col-md-6">
              <button type="reset" class="btn btn-danger">Reiniciar Datos</button>
            </div>
          </form>
          <div id="iframe-maps" class="col-lg-10 mt-0">
            <h1 class="text-center">VISITA NUESTRO ESTUDIO</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2731.1866494346436!2d-67.96255198391776!3d-46.80062910698335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbde8a362ff8d7075%3A0xfd2b45f5fba9b243!2sMitre%20637%2C%20Pico%20Truncado%2C%20Santa%20Cruz!5e0!3m2!1ses-419!2sar!4v1647297272730!5m2!1ses-419!2sar"loading="lazy">
            </iframe>
          </div>
          <div class="col col-md-2 contanier mt-5 col-lg-2">
            <div class="row row-cols-1">
              <div class="col text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
              </div>
              <div class="col text-center">
                <p>Pico Truncado, Santa Cruz, 9015, Argentina</p>
              </div>
            </div>
            <div class="row row-cols-1">
              <div class="col text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-telephone-forward-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.761.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z"/>
                </svg>
              </div>
              <div class="col text-center">
                <p class="mb-0">Numero de Telefono</p>
                <p class="mt-0">Numero de Telefono</p>
              </div>
            </div>
            <div class="contanier ">
              <div class="row row-cols-1">
                <div class="col text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                  </svg>
                </div>
                <div class="col text-center">
                  <p class="mb-0">Correo Electronico</p>
                  <p>Correo Electronico</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>






 
  <a href="https://wa.me/5211234567890?text=Me%20gustaría%20saber%20el%20precio%20del%20coche" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
  </main>
  <footer class="bg-color-propio py-3 px-3 mt-auto">
    <div class="justify-content-between d-flex flex-wrap align-items-center">
      <div>
        <ul class="lista-propia">
          <li>Dirreccion</li>
          <li>Numero de contacto 1</li>
          <li>Numero de contacto 2</li>
          <li>Email</li>
        </ul>
      </div>
      <div class="mt-2"> 
        <a class="enlace-propio" href="../index.html">INICIO |</a>
        <a class="enlace-propio" href="nosotros.html">NOSOTROS |</a>
        <a class="enlace-propio" href="areas.html">AREAS DE PRACTICA |</a>
        <a class="enlace-propio" href="contacto.html">CONTACTO</a>
      </div>
      <div class="mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-facebook" viewBox="0 0 16 16">
          <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-envelope-fill" viewBox="0 0 16 16">
          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-map-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.598-.49L10.5.99 5.598.01a.5.5 0 0 0-.196 0l-5 1A.5.5 0 0 0 0 1.5v14a.5.5 0 0 0 .598.49l4.902-.98 4.902.98a.502.502 0 0 0 .196 0l5-1A.5.5 0 0 0 16 14.5V.5zM5 14.09V1.11l.5-.1.5.1v12.98l-.402-.08a.498.498 0 0 0-.196 0L5 14.09zm5 .8V1.91l.402.08a.5.5 0 0 0 .196 0L11 1.91v12.98l-.5.1-.5-.1z"/>
        </svg>
      </div>
    </div>
  </footer>
  <script src="../js/bootstrap.js"></script>
</body>
</html>
  <!-- <form action="rutaalarchivo">
        <label for="nombre"></label>
        <input type="text" name="nombre" placeholder="NOMBRE">
        <label for="apellido"></label>
        <input type="text" name="apellido" placeholder="APELLIDO">
        <label for="email"></label>
        <input type="email" name="email" placeholder="CORREO ELECTRONICO">
        <label for="telefono"></label>
        <input type="tel" name="telefono" placeholder="NUMERO DE TELEFONO">
        <label for="comentario"></label>
        <textarea name="comentario" cols="35" rows="20" placeholder="COMENTENOS SU CASO"></textarea>
             botones --><!--
        <input class="boton-enviar" type="submit" value="ENVIAR CONSULTA">
        <input class="boton-reset" type="reset" value="REINICIAR">
        <input type="button" value="Sin acccion">
      </form> -->

        <!--  <section id="maps">
      
    </section> -->